$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$yello: #ffdd00;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
//------------- main_bg_area --------------
.main_bg_area {
  //   border: 1px solid red;
  max-width: 100%;
  background-image: url(../fitness_environment_img/AboutMainBgi.jpg);
  background-size: cover;
  .main_bg_area_filter {
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.3);
  }

  .main_bg_area_content {
    width: 50%;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-top: 7rem;
      color: $font_color;
      padding: 0 2rem;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 3rem;
      line-height: 1.4;
      //   border: 1px solid red;
      letter-spacing: 2px;
    }
    a {
      width: 160px;
      height: 60px;
      display: block;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 7rem;
      font-weight: bold;
      background-color: $font_color;
      color: $bgc_1e;
      font-size: 28px;
      line-height: 60px;
      @include border-radius(8px);
      animation: about_atag 1s ease infinite;
    }
  }
}

//------------- main_bg_area --------------
.aslogan {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 0;
  h1 {
    text-align: center;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffdd00;
    margin-bottom: 2rem;
  }
  p {
    text-align: center;
    font-size: 24px;
    line-height: 1.8;
    color: $font_color;
    margin: 0 11rem;
  }
}

//------------- marquee_area --------------
@mixin media($max) {
  @media (max-width: ($max + px)) {
    @content;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-(20% * 5));
  }
}

@include media(1024) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-(25% * 5));
    }
  }
}
@include media(768) {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-(33.33% * 5));
    }
  }
}

.marquee {
  width: 100%;
  margin-bottom: 20rem;
  .view {
    overflow: hidden;
    width: 100%;
  }
  .pic-container {
    display: flex;
    animation: marquee 20s infinite linear;
    .pic {
      position: relative;
      flex-basis: 30%;
      flex-shrink: 0;
      margin: 1rem;
      @include media(1024) {
        flex-basis: 25%;
      }
      @include media(768) {
        flex-basis: 33.33%;
      }
      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   border-radius: 8px;
      //   background-color: rgba(0, 0, 0, 0.2);
      // }
    }
  }
  img {
    width: 100%;
    vertical-align: middle;
    border-radius: 8px;
  }
}

//------------- Our_brand_purpose_concept_area --------------
.brand_purpose {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 0;
  margin-bottom: 16rem;

  .brand_purpose_content {
    width: 576px;
    background-color: $font_color;
    @include border-radius(8px);
    padding: 1.5rem 1rem;
    position: relative;
    top: -100px;
    h3 {
      font-size: 28px;
      margin-bottom: 1rem;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
    }
  }

  img {
    width: 576px;
    height: 376px;
    @include border-radius(8px);
    position: relative;
    top: 100px;
  }
}

//------------- Our_Vision_area --------------
.our_vision {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 0;
  margin-bottom: 10rem;

  img {
    width: 576px;
    height: 376px;
    position: relative;
    top: 100px;
    @include border-radius(8px);
  }

  .our_vision_content {
    width: 576px;
    background-color: $font_color;
    @include border-radius(8px);
    padding: 1.5rem 1rem;
    position: relative;
    top: -100px;
    h3 {
      font-size: 28px;
      margin-bottom: 1rem;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;
    }
  }
}

//------------- location_area --------------
.location {
  margin-bottom: 5rem;
  iframe {
    width: 900px;
    height: 450px;
  }
  h1 {
    text-align: center;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffdd00;
    margin-bottom: 2rem;
  }
  .map {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    background-color: #f6f6f6;
    @include border-radius(8px);
    width: fit-content;
  }
}

@keyframes about_atag {
  0% {
    transform: scale(0.6) translateY(-5px);
  }
  12% {
    transform: scale(0.65) translateY(-4.5px);
  }
  25% {
    transform: scale(0.7) translateY(-4px);
  }
  37% {
    transform: scale(0.75) translateY(-3.5px);
  }
  50% {
    transform: scale(0.8) translateY(-3px);
    background-color: $yello;
    box-shadow: 0px 0px 10px 5px $font_color;
  }
  62% {
    transform: scale(0.85) translateY(-2.5px);
  }
  75% {
    transform: scale(0.9) translateY(-2px);
  }
  87% {
    transform: scale(0.95) translateY(-1.5px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}
@media (max-width: 1200px) {
  .brand_purpose {
    .brand_purpose_content {
      width: 526px;
    }
    img {
      width: 526px;
    }
  }
  .our_vision {
    .our_vision_content {
      width: 526px;
    }
    img {
      width: 526px;
    }
  }
}
@media (max-width: 1085px) {
  .aslogan {
    p {
      margin: 0 7rem;
    }
  }
  .brand_purpose {
    .brand_purpose_content {
      width: 426px;
      p {
        line-height: 1.6;
      }
    }
    img {
      width: 426px;
    }
  }
  .our_vision {
    .our_vision_content {
      width: 426px;
      p {
        line-height: 1.6;
      }
    }
    img {
      width: 426px;
    }
  }
}
@media (max-width: 1010px) {
  .main_bg_area {
    .main_bg_area_content {
      h1 {
        margin-top: 5rem;
      }
      a {
        margin-bottom: 4rem;
      }
    }
  }
  .marquee {
    margin-bottom: 10rem;
  }
  .location {
    iframe {
      width: 800px;
      height: 400px;
    }
  }
}

@media (max-width: 910px) {
  .main_bg_area {
    .main_bg_area_content {
      h1 {
        margin-top: 6rem;
        font-size: 32px;
      }
      a {
        margin-bottom: 3rem;
      }
    }
  }
  .marquee {
    margin-bottom: 10rem;
  }
  .brand_purpose {
    .brand_purpose_content {
      width: 356px;
      p {
        line-height: 1.4;
        font-size: 14px;
      }
    }
    img {
      width: 356px;
    }
  }
  .our_vision {
    .our_vision_content {
      width: 356px;
      p {
        line-height: 1.4;
        font-size: 14px;
      }
    }
    img {
      width: 356px;
    }
  }
  .location {
    iframe {
      width: 800px;
      height: 400px;
    }
  }
}
@media (max-width: 820px) {
  .main_bg_area {
    .main_bg_area_content {
      h1 {
        margin-top: 4rem;
        font-size: 28px;
      }
      a {
        margin-bottom: 3rem;
      }
    }
  }
  .aslogan {
    h1 {
      font-size: 32px;
    }
    p {
      margin: 0 3rem;
    }
  }
  .marquee {
    margin-bottom: 10rem;
  }
  .brand_purpose {
    .brand_purpose_content {
      width: 356px;
      p {
        line-height: 1.4;
        font-size: 14px;
      }
    }
    img {
      width: 356px;
    }
  }
  .our_vision {
    .our_vision_content {
      width: 356px;
      p {
        line-height: 1.4;
        font-size: 14px;
      }
    }
    img {
      width: 356px;
    }
  }
  .location {
    iframe {
      width: 700px;
      height: 350px;
    }
  }
}

@media (max-width: 430px) {
  .main_bg_area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .main_bg_area_content {
      h1 {
        margin-top: 3rem;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 1rem;
      }
      a {
        margin-bottom: 3rem;
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
      }
    }
  }
  .aslogan {
    margin: 4rem 0;
    h1 {
      font-size: 24px;
    }
    p {
      margin: 0 1rem;
      font-size: 16px;
    }
  }
  .marquee {
    margin-bottom: 10rem;
    .pic-container {
      .pic {
        flex-basis: 60%;
      }
    }
  }
  .brand_purpose {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;

    .brand_purpose_content {
      width: 326px;
      top: 20;
      h3 {
        font-size: 18px;
      }
      p {
        line-height: 1.4;
        font-size: 12px;
      }
    }
    img {
      width: 326px;
      height: 326px;

      top: 0;
    }
  }
  .our_vision {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    .our_vision_content {
      width: 326px;
      top: 20;
      order: 1;
      h3 {
        font-size: 18px;
      }
      p {
        line-height: 1.4;
        font-size: 12px;
      }
    }
    img {
      width: 326px;
      height: 326px;

      order: 2;
      top: 0;
    }
  }
  .location {
    margin-bottom: 3rem;
    h1 {
      font-size: 32px;
    }
    iframe {
      width: 360px;
      height: 180px;
    }
  }
}
