.blog_area {
  max-width: 100%;
  padding: 4rem 0;
  background-color: rgba(246, 246, 246, 0.9);
}
.blog_area .blog_content {
  max-width: 80%;
  border: 2px solid #1e1e1e;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 8px;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
.blog_area .blog_content h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.blog_area .blog_content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.blog_area .blog_content .p2 {
  margin-bottom: 3rem;
}
.blog_area .blog_title {
  display: flex;
  align-items: center;
}
.blog_area .blog_title h6 {
  font-size: 14px;
}
.blog_area .title_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
.blog_area .content_img {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.blog_area .content_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.blog_area hr {
  border: none;
  outline: none;
  height: 2px;
  background-color: #1e1e1e;
  margin-bottom: 0.75rem;
  border-radius: 8px;
}
.blog_area .media_icons {
  margin-bottom: 0.75rem;
  display: flex;
  padding: 0.45rem 0;
  align-items: center;
}
.blog_area .media_icons a {
  display: block;
  margin-right: 1rem;
}
.blog_area .content_footer {
  display: flex;
  justify-content: space-between;
}
.blog_area .content_footer button {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  cursor: pointer;
}
.blog_area .ptags {
  display: flex;
}
.blog_area .ptags p {
  font-size: 14px;
  margin-right: 1rem;
}

.comments_area {
  max-width: 80%;
  border: 2px solid #1e1e1e;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 8px;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}
.comments_area h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  padding-left: 0.5rem;
}
.comments_area textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: #f6f6f6;
}
.comments_area .comments_footer {
  display: flex;
  justify-content: space-between;
}
.comments_area .comments_footer button {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  cursor: pointer;
}
.comments_area .comments_footer .icons_area {
  display: flex;
  align-items: center;
}
.comments_area .comments_footer .icons_area > button {
  margin-right: 1rem;
}
.comments_area .comments_footer .btns_area > button {
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
}
.comments_area .comments_footer .btns_area .cancle {
  border: 2px solid #1e1e1e;
  border-radius: 8px;
}
.comments_area .comments_footer .btns_area .publish {
  background-color: #1e1e1e;
  color: #f6f6f6;
  border-radius: 8px;
}

.recent_area {
  margin: 0 auto;
  max-width: 80%;
}
.recent_area h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.recent_area .recent_post {
  display: flex;
  justify-content: space-between;
}
.recent_area .recent_post li {
  width: 260px;
  background-color: #f6f6f6;
  border-radius: 8px;
}
.recent_area .recent_post li:nth-child(3) {
  margin-right: 0;
}
.recent_area .img {
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.recent_area .img img {
  width: 260px;
  height: 190px;
  display: block;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.recent_area .content {
  padding: 0.5rem;
}
.recent_area h3 {
  text-align: left;
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem 1rem 0 0.5rem;
  margin-bottom: 1rem;
}
.recent_area .recent_hr {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.recent_area .recent_post_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}
.recent_area .footer_content {
  display: flex;
}
.recent_area .footer_content .watch,
.recent_area .footer_content .comments {
  display: flex;
}
.recent_area .footer_content .watch {
  margin-right: 1rem;
  align-items: center;
}
.recent_area .footer_content p {
  padding-bottom: 0.15rem;
  margin-right: 0.25rem;
}
.recent_area .footer_content p i {
  font-size: 16px;
}
.recent_area .footer_content span {
  font-size: 16px;
}
.recent_area .footer_content .comments {
  align-items: center;
}

div.totop {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
div.totop a {
  display: block;
}
div.totop a .fa-solid {
  font-size: 60px;
  color: #1e1e1e;
}

@media screen and (max-width: 1024px) {
  .blog_area .blog_content {
    max-width: 90%;
  }
  .blog_area .blog_content h2 {
    font-size: 1.75rem;
  }
  .blog_area .comments_area {
    max-width: 90%;
  }
  .blog_area .recent_area {
    max-width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .blog_area .blog_content {
    max-width: 95%;
  }
  .blog_area .blog_content h2 {
    font-size: 1.75rem;
  }
  .blog_area .blog_content p {
    font-size: 0.75rem;
  }
  .blog_area .comments_area {
    max-width: 95%;
  }
  .blog_area .recent_area {
    max-width: 95%;
  }
}
@media screen and (max-width: 840px) {
  .blog_area .blog_content {
    max-width: 98%;
  }
  .blog_area .blog_content h2 {
    font-size: 1.75rem;
  }
  .blog_area .blog_content p {
    font-size: 0.75rem;
  }
  .blog_area .comments_area {
    max-width: 98%;
  }
  .blog_area .comments_area h2 {
    font-size: 1.75rem;
  }
  .blog_area .recent_area {
    max-width: 98%;
  }
  .blog_area .recent_area h2 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 430px) {
  .blog_area .blog_content {
    max-width: 95%;
  }
  .blog_area .blog_content h2 {
    font-size: 1.5rem;
  }
  .blog_area .blog_content p {
    font-size: 0.75rem;
  }
  .blog_area .comments_area {
    max-width: 95%;
  }
  .blog_area .recent_area {
    max-width: 95%;
  }
  .blog_area .recent_area .recent_post {
    overflow: scroll;
  }
  .blog_area .recent_area li {
    margin-right: 0.5rem;
  }
}/*# sourceMappingURL=blog_page.css.map */