$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$yello: #ffdd00;
$sidebar_bgc: #c6bdac;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//---------------- blog_title --------------
.fitness_blog_title {
  max-width: 100%;
  //   border: 1px solid red;
  h1 {
    margin: 0 auto;
    // border: 1px solid red;
    width: fit-content;
    padding: 2rem 0;
    font-size: 3rem;
    color: $font_color;
    font-weight: bold;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      width: 200px;
      height: 2px;
      background-color: $font_color;
      @include border-radius(8px);
      transform: translateY(-50%);
    }
    &:before {
      left: -220px;
    }
    &:after {
      right: -220px;
    }
  }
}

//---------------- sort_by_area --------------
.sort_by_area {
  width: 75%;
  display: flex;
  justify-content: end;
  // border: 1px solid red;
  margin: 0 auto;
  margin-bottom: 1rem;
  .sort_by {
    color: $font_color;
    label {
      letter-spacing: 2px;
    }
    select {
      border: none;
      outline: none;
      @include border-radius(4px);
      padding: 0.25rem 0.5rem;
    }
  }
}

//---------------- fitness_blog_area --------------
.fitness_blog {
  display: flex;
  max-width: 75%;
  margin: 0 auto;
  .blog_content {
    li {
      margin-bottom: 2rem;
    }
  }
  a {
    width: 100%;
    display: block;
    background-color: $font_color;
    @include border-radius(8px);
  }
  .blog_link {
    width: 100%;
    display: flex;
    // border: 1px solid red;
  }
  .img {
    width: 351px;
    height: 235px;
    flex: 1;
    //   border: 1px solid blue;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      display: block;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      object-fit: cover;
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }
  .contents {
    width: 100%;
    flex: 2;
    padding: 1rem 1rem;
    color: $bgc_1e;
    letter-spacing: 1px;

    h4 {
      font-size: 0.55rem;
      font-weight: bold;
      margin-bottom: 1rem;
      span {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 12px;
        margin-left: 0.25rem;
      }
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }
    p {
      line-height: 1.2;
      font-size: 0.75rem;
    }
  }
}
@media screen and (max-width: 1100px) {
  .sort_by_area {
    width: 85%;
  }
  .fitness_blog {
    max-width: 85%;
  }
}
@media screen and (max-width: 980px) {
  .sort_by_area {
    width: 90%;
  }
  .fitness_blog {
    max-width: 90%;
  }
}

@media screen and (max-width: 820px) {
  .fitness_blog_title {
    h1 {
      font-size: 2rem;
    }
  }

  .fitness_blog {
    .img {
      width: 281px;
      height: 205px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .contents {
      h2 {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .fitness_blog_title {
    h1 {
      font-size: 1.5rem;
      &:before,
      &:after {
        width: 150px;
      }
      &:before {
        left: -170px;
      }
      &:after {
        right: -170px;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .fitness_blog_title {
    h1 {
      font-size: 1.25rem;
      &:before,
      &:after {
        width: 80px;
      }
      &:before {
        left: -100px;
      }
      &:after {
        right: -100px;
      }
    }
  }
  .fitness_blog {
    .blog_content {
      .blog_link {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .img {
      width: 391px;
      height: 285px;

      img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
      }
      &:before {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
      }
    }
    .contents {
      h2 {
        font-size: 1rem;
      }
    }
  }
}
