$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$sidebar_bgc: #c6bdac;
$yello: #ffdd00;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//--------------footer---------------//
footer {
  margin-top: 0.25rem;
  max-width: 100%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 2rem 0.5rem 2rem;

  //--------- footer_ul -------------
  .footer_ul {
    display: flex;
    padding-bottom: 1.5rem;
    // border: 1px solid green;
    justify-content: space-between;
    .no_text_logo {
      display: block;
      text-align: center;
      // border: 1px solid blue;
      width: 50%;
    }
    img {
      width: 38%;
    }
  }
  li {
    // border: 1px solid red;
    width: 100%;
    color: $font_color;
    display: flex;
    flex-direction: column;
    // align-items: center;
    h4 {
      font-size: 1.75rem;
      padding-bottom: 1.2rem;
    }
    a {
      width: 100%;
      color: $font_color;
      font-size: 0.95rem;
      display: block;
      padding-bottom: 1rem;
      &:hover {
        color: $yello;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.4;
      padding-bottom: 1.2rem;
    }
    .footer_register {
      background-color: $font_color;
      color: #1e1e1e;
      height: 40px;
      @include border-radius(8px);
      text-align: center;
      line-height: 40px;
    }
  }
  li:nth-child(6) {
    margin-right: 0;
  }
  //---------- footer_register_content -----------
  .footer_register_content {
    color: $font_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    h4 {
      font-size: 1.75rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 18px;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    a {
      display: inline-block;
      padding: 1rem 1.25rem;
      color: $bgc_1e;
      background-color: $font_color;
      @include border-radius(8px);
      margin: 0.5rem;
      animation: footer_register 1.5s ease infinite;
      &:hover {
        animation: none;
      }
    }
  }

  //---------- media_icons -----------
  .media_icons {
    // border: 1px solid red;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    a {
      // width: 50%;
      display: block;
      text-align: center;
      margin-right: 2rem;
      i {
        font-size: 28px;
      }
    }
    a:nth-child(4) {
      margin-right: 0;
    }
  }

  //---------- copyright_area -----------
  .copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 0.5rem 0;
    img {
      width: 20px;
    }
    p {
      color: #ffdd00;
      font-size: 12px;
    }
  }

  //---------- project_statemen_icons -----------
  .project_statemen {
    width: 100%;
    p {
      text-align: center;
      font-size: 10px;
      line-height: 2;
      letter-spacing: 1px;
      color: $font_color;
    }
  }
}

@media screen and (max-width: 910px) {
  footer {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }
}
@media screen and (max-width: 820px) {
  footer {
    .footer_ul {
      .no_text_logo {
        width: 60%;
      }
      li {
        h4 {
          font-size: 1.25rem;
        }
        a {
          font-size: 0.65rem;
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  footer {
    padding-top: 1rem;
    .footer_ul {
      .no_text_logo {
        width: 40%;
        display: none;
      }
      li {
        align-items: center;
        h4 {
          font-size: 0.75rem;
        }
        a {
          text-align: center;
          font-size: 0.55rem;
        }
      }
    }
    .footer_register_content {
      margin-bottom: 0.5rem;
      h4 {
        font-size: 1.35rem;
      }
      p {
        font-size: 14px;
      }
      a {
        padding: 0.75rem 1rem;
      }
    }
    .copyright {
      padding: 0.5rem 0;
    }
    .project_statemen {
      p {
        line-height: 1.4;
      }
    }
  }
}
