$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$yello: #ffdd00;
$sidebar_bgc: #c6bdac;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//---------------- my_session_title --------------
.session_title {
  max-width: 100%;
  //   border: 1px solid red;
  h1 {
    margin: 0 auto;
    // border: 1px solid red;
    width: fit-content;
    padding: 2rem 0;
    font-size: 40px;
    color: $font_color;
    font-weight: bold;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      width: 200px;
      height: 2px;
      background-color: $font_color;
      @include border-radius(8px);
      transform: translateY(-50%);
    }
    &:before {
      left: -220px;
    }
    &:after {
      right: -220px;
    }
  }
}

//---------------- my_session_area --------------
.my_session {
  max-width: 70%;
  margin: 0 auto;
  // border: 1px solid red;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  // .mysession_month {
  //   width: 100%;
  //   display: flex;
  //   flex-wrap: wrap;
  //   // margin: 1rem 0;
  //   padding: 1rem 2rem;
  //   position: sticky;
  //   top: 0;
  //   z-index: 1;
  //   @include border-radius(8px);
  //   background-color: rgba($color: #000000, $alpha: 0.7);
  // }
  // .session_month_title {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-color: $sidebar_bgc;
  //   @include border-radius(4px);
  //   padding: 0rem 1rem;
  //   h1 {
  //     color: $bgc_1e;
  //     font-size: 48px;
  //     font-weight: bold;
  //   }
  // }
  // .session_days_ul {
  //   display: flex;
  //   justify-content: end;
  //   align-items: center;
  //   flex: auto;
  //   li {
  //     margin-left: 1rem;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     border: 1px solid red;
  //   }
  //   p {
  //     line-height: 1.2;
  //     font-size: 18px;
  //     font-weight: 500;
  //   }
  //   button {
  //     border: none;
  //     background-color: $font_color;
  //     cursor: pointer;
  //     padding: 0.75rem;
  //     @include border-radius(8px);
  //   }
  //   .changebgc {
  //     background-color: $sidebar_bgc;
  //   }
  // }

  .my_session_list {
    display: flex;
    // border: 1px solid red;
    .date {
      // border: 1px solid red;
      display: block;
    }
    h1 {
      font-size: 32px;
      font-weight: bold;
      margin-right: 1rem;
      padding: 1.5rem 0.5rem;
      @include border-radius(8px);
      background-color: $sidebar_bgc;
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $font_color;
      padding: 0.5rem;
      margin-bottom: 1.5rem;
      @include border-radius(8px);
      // border: 1px solid red;
    }
    p {
      display: inline-block;
      // border: 1px solid red;
      font-size: 16px;
      position: relative;
      margin-right: 1rem;
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        top: 0;
        right: -11px;
        bottom: 0;
        margin: auto;
        background-color: rgba($color: $bgc_1e, $alpha: 0.5);
      }
      &:nth-last-child(1)::after {
        display: none;
      }
    }
    i {
      margin-right: 0.15rem;
    }
    .title_info {
      // border: 1px solid green;
      padding: 0.25rem 0;
    }
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .my_session_content {
      flex: auto;
      height: 690px;
      //   border: 1px solid blue;
      overflow: scroll;
      li {
        position: relative;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        // border: 1px solid red;
        padding: 0.5rem 1rem;
        background-color: $font_color;
        @include border-radius(8px);
      }
    }

    .trashbtn {
      margin-left: auto;
    }
    button {
      border: none;
      outline: none;
      background-color: $font_color;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1000px) {
  .my_session {
    max-width: 80%;
  }
}
@media screen and (max-width: 820px) {
  .session_title {
    h1 {
      font-size: 2rem;
    }
  }
  .my_session {
    max-width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .session_title {
    h1 {
      font-size: 1.5rem;
      &:before,
      &:after {
        width: 150px;
      }
      &:before {
        left: -170px;
      }
      &:after {
        right: -170px;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .session_title {
    h1 {
      font-size: 1.25rem;
      &:before,
      &:after {
        width: 80px;
      }
      &:before {
        left: -100px;
      }
      &:after {
        right: -100px;
      }
    }
  }
  .my_session {
    max-width: 95%;
    .my_session_list {
      li {
        border: 1px solid red;
        padding: 0;
      }
      .my_session_content {
        li {
          padding: 0.25rem 0.25rem;
        }
      }
      h1 {
        font-size: 24px;
        padding: 1rem 0.25rem;
        margin-right: 0.5rem;
      }
      h2 {
        font-size: 18px;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
