$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$yello: #ffdd00;
$sidebar_bgc: #c6bdac;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//---------------- product_title --------------
.product_title {
  max-width: 100%;
  //   border: 1px solid red;
  h1 {
    margin: 0 auto;
    // border: 1px solid red;
    width: fit-content;
    padding: 2rem 0;
    font-size: 40px;
    color: $font_color;
    font-weight: bold;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      width: 200px;
      height: 2px;
      background-color: $font_color;
      @include border-radius(8px);
      transform: translateY(-50%);
    }
    &:before {
      left: -220px;
    }
    &:after {
      right: -220px;
    }
  }
}

//---------------- breadcrumb --------------
.product_breadcrumb {
  max-width: 100%;
  padding: 1rem 0;
  padding-left: 5%;
  //   border: 1px solid red;
  .product_breadcrumb_ul {
    display: flex;
    li {
      color: $yello;
    }
    span {
      color: $font_color;
    }
    a {
      color: $font_color;
    }
  }
}

//---------------- search_bar --------------
.search_bar {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 9.5%;
  margin-bottom: 1rem;
  .search {
    position: relative;
    input {
      width: 228px;
      height: 44px;
      border: none;
      outline: none;
      border-radius: 8px;
      font-size: 24px;
      padding-left: 1rem;
      background-color: $font_color;
    }
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }
    button {
      border: none;
      outline: none;
      background-color: $font_color;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}

//---------------- Product_area --------------
.product_area {
  display: flex;
  margin-left: 6%;
  align-items: start;
}
.product_sidebar {
  //----------- product_sidebar -------
  position: sticky;
  top: 72px;
  margin-top: 1.85%;
  // border: 1px solid red;
  padding: 0.5rem;
  border-radius: 8px;
  .plusbtn {
    // border: 1px solid blue;
    width: 20px;
    height: 28px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 2.5px;
      @include border-radius(8px);
      top: 50%;
      background-color: $yello;
      // border: 1px solid red;
    }
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 3px;
      transform: rotate(90deg);
      @include border-radius(8px);
      // border: 1px solid red;
      top: 50%;
      background-color: $yello;
      transition: all 0.3s ease-in-out;
    }
    &.plus::after {
      transform: rotate(0deg);
    }
  }
  .sidebar_title {
    li {
      margin-bottom: 1rem;
      width: 260px;
      // border: 1px solid red;
      a {
        width: 100%;
        height: 40px;
        line-height: 28px;
        color: $font_color;
        font-weight: 600;
        // border: 1px solid red;
        font-size: 1.35vw;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
          color: $yello;
        }
      }
      i {
        line-height: 28px;
        margin-right: 0.25rem;
      }
    }
  }
  .fitness_equipment_product,
  .protein_powder_product,
  .health_Supplements_product,
  .fit_gear_product {
    display: none;
    li {
      margin-bottom: 0rem;
      a {
        color: $font_color;
        font-size: 1.25vw;
        display: block;
        margin-bottom: 0.25rem;
        padding-left: 1.25rem;
        font-weight: normal;
        //   border: 1px solid red;
        &:hover {
          color: $yello;
        }
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}
.product_sections {
  //-------- product_sections ------
  // border: 1px solid red;
  // flex-grow: 1;
  .products {
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    li {
      background-color: $font_color;
      margin: 1.85%;
      @include border-radius(8px);
      // border: 1px solid blue;
    }

    h4,
    p,
    h6 {
      color: $bgc_1e;
      padding-left: 0.5rem;
    }
    h4 {
      font-size: 28px;
      font-weight: 600;
      margin: 1rem 0;
    }
    p {
      font-size: 18px;
      padding-bottom: 1rem;
    }
    h6 {
      line-height: 1.2;
      font-size: 12px;
      margin-bottom: 1rem;
    }
  }

  a {
    display: block;
    width: 228px;
    .product_bg {
      width: 100%;
      height: 204px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: rgba($color: #000, $alpha: 0.4);
        object-fit: scale-down;
      }
    }
  }
}

//---------------- page_number--------------
.page_number {
  max-width: 100%;
  //   border: 1px solid red;

  margin: 3rem 0;
  .page {
    margin: 0 auto;
    // border: 1px solid blue;
    width: fit-content;
    display: flex;
    padding: 0.5rem 0;
    a {
      display: block;
      margin: 0 0.5rem;
      color: $yello;
    }
  }
}
@media (max-width: 1120px) {
  .product_breadcrumb {
    padding-left: 4%;
  }
  .search_bar {
    padding-right: 3.5%;
  }
  .product_area {
    margin-left: 3%;
  }
}
@media (max-width: 1080px) {
  .product_breadcrumb {
    padding-left: 4%;
  }
  .search_bar {
    padding-right: 3%;
  }
  .product_area {
    margin-left: 3%;
  }
  .product_sections {
    .products {
      margin-left: 2%;
    }
  }
}
@media (max-width: 1036px) {
  .product_breadcrumb {
    padding-left: 2%;
  }
  .search_bar {
    padding-right: 3.5%;
  }
  .product_area {
    margin-left: 1%;
  }
  .product_sections {
    .products {
      margin-left: 1%;
    }
  }
}
@media (max-width: 1005px) {
  .product_breadcrumb {
    padding-left: 2%;
  }
  .search_bar {
    padding-right: 1.8%;
  }
  .product_area {
    margin-left: 0%;
  }
  .product_sections {
    .products {
      margin-left: 0%;
    }
  }
}
@media (max-width: 986px) {
  .product_sidebar {
    display: none;
  }
  .product_breadcrumb {
    padding-left: 2%;
  }
  .search_bar {
    padding-right: 1.8%;
  }
  .product_area {
    margin-left: 0%;
  }
  .product_sections {
    .products {
      margin: 0 auto;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 820px) {
  .product_title {
    h1 {
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 770px) {
  .product_sections {
    .products {
      justify-content: start;
    }
  }
}
@media screen and (max-width: 768px) {
  .product_sections {
    .products {
      justify-content: start;
      padding-left: 6rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .product_sections {
    .products {
      justify-content: start;
      padding-left: 4rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .product_title {
    h1 {
      font-size: 1.5rem;
      &:before,
      &:after {
        width: 150px;
      }
      &:before {
        left: -170px;
      }
      &:after {
        right: -170px;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .search_bar {
    .search {
      input {
        width: 195px;
        height: 34px;
      }
    }
  }
  .product_title {
    h1 {
      font-size: 1.25rem;
      &:before,
      &:after {
        width: 80px;
      }
      &:before {
        left: -100px;
      }
      &:after {
        right: -100px;
      }
    }
  }
  .product_sections {
    .products {
      justify-content: start;
      padding-left: 0rem;
      li {
        margin: 2.9%;
      }
      h4 {
        font-size: 18px;
      }
    }
    a {
      width: 190px;
      .product_bg {
        height: 164px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .search_bar {
    .search {
      input {
        width: 195px;
        height: 34px;
      }
    }
  }
  .product_title {
    h1 {
      font-size: 1.25rem;
      &:before,
      &:after {
        width: 80px;
      }
      &:before {
        left: -100px;
      }
      &:after {
        right: -100px;
      }
    }
  }
  .product_sections {
    .products {
      justify-content: start;
      padding-left: 0rem;
      li {
        margin: 3.2%;
      }
      h4 {
        font-size: 18px;
      }
    }
    a {
      width: 180px;
      .product_bg {
        height: 164px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .search_bar {
    .search {
      input {
        width: 195px;
        height: 34px;
      }
    }
  }
  .product_title {
    h1 {
      font-size: 1.25rem;
      &:before,
      &:after {
        width: 80px;
      }
      &:before {
        left: -100px;
      }
      &:after {
        right: -100px;
      }
    }
  }
  .product_sections {
    .products {
      justify-content: start;
      padding-left: 0rem;
      li {
        margin: 3.2%;
      }
      h4 {
        font-size: 18px;
      }
    }
    a {
      width: 170px;
      .product_bg {
        height: 164px;
      }
    }
  }
}
