$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$yello: #ffdd00;
$sidebar_bgc: #c6bdac;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
//---------------- breadcrumb --------------
.breadcrumb {
  max-width: 100%;
  padding: 3rem 0;
  padding-left: 4rem;
  //   border: 1px solid red;
  .breadcrumb_ul {
    display: flex;
    li {
      color: $yello;
    }
    span {
      color: $font_color;
    }
    a {
      color: $font_color;
    }
  }
}

//---------------- product_info --------------
.product_info {
  max-width: 100%;
  display: flex;
  // flex-wrap: wrap;
  padding: 0rem 3rem 3rem 6rem;
  // border: 1px solid red;
  .info_img {
    width: 100%;
    // border: 1px solid red;
    height: fit-content;
    margin-right: 3rem;
    padding: 0.5rem;
    flex: 1;
    align-items: flex-start;
    background-color: $font_color;
    @include border-radius(8px);
    .main_img {
      // border: 1px solid red;
      background-color: $sidebar_bgc;
      @include border-radius(8px);
      position: relative;
      width: 330px;
      height: 340px;
      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
      }
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        @include border-radius(8px);
        background-color: rgba($color: #000, $alpha: 0.2);
      }
    }
    .sub_img {
      display: flex;
      justify-content: space-between;
      .img1,
      .img2,
      .img3 {
        background-color: $sidebar_bgc;
        border-radius: 8px;
        position: relative;
        margin-top: 1rem;
        cursor: pointer;
        img {
          width: 100px;
          height: 70px;
        }
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          @include border-radius(8px);
          top: 0;
          background-color: rgba($color: #000, $alpha: 0.2);
        }
      }
    }
    p {
      margin-top: 1rem;
      letter-spacing: 1px;
      line-height: 1.4;
      font-size: 16px;
    }
  }
  .info_content {
    // border: 1px solid red;
    flex: 2;
    color: $font_color;
    letter-spacing: 1px;
    padding-left: 2rem;
    h1 {
      font-size: 32px;
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
    h4 {
      font-size: 12px;
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 3rem;
    }
    .quantity {
      display: flex;
      // border: 1px solid red;
      align-items: center;
      margin-bottom: 3rem;
    }
    h3 {
      font-size: 24px;
      margin-right: 1rem;
    }
    .quantity_btn {
      // border: 1px solid red;
      margin-right: 1rem;

      button {
        border: none;
        margin: 0;
        padding: 0;
        padding: 0.45rem 0.45rem;
        // @include border-radius(4px);
        background-color: $font_color;
        cursor: pointer;
      }
      .quantity_minusBtn {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .quantity_plusBtn {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      input[type="number"] {
        text-align: center;
        margin-right: -8.5px;
        margin-left: -8.5px;
        border: none;
        outline: none;
        padding: 0.45rem 0;
        background-color: $font_color;
        width: 35px;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
    .bsbtn {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;

      .add_to_cart,
      .buy_now {
        border: none;
        outline: none;
        @include border-radius(8px);
        font-size: 28px;
        width: 70%;
        padding: 0.45rem 0rem;
        cursor: pointer;
      }
      .add_to_cart {
        color: $bgc_1e;
        margin-bottom: 0.75rem;
        background-color: $sidebar_bgc;
      }
    }
    .shipping_info,
    .return_info {
      font-size: 20px;
      width: 90%;
      border-bottom: 1px solid $font_color;
      padding: 0.75rem 0;
      cursor: pointer;
    }

    .shipping_info_p,
    .return_info_p {
      color: rgba($color: $font_color, $alpha: 0.5);
      display: none;
      font-size: 14px;
      width: 90%;
      letter-spacing: 1px;
      line-height: 1.6;
    }
  }
}

//--------------topSaleArea---------------//
.top_sale_area {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
  h1 {
    font-size: 40px;
    color: $font_color;
    margin: 0rem 3rem 1rem 3rem;
  }
  .products {
    // border: 1px solid red;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
    li {
      background-color: $font_color;
      margin: 1rem;
      @include border-radius(8px);
      // border: 1px solid blue;
    }
    h4,
    p,
    h6 {
      color: $bgc_1e;
      // text-align: center;
    }
    h4 {
      font-size: 28px;
      font-weight: 600;
      margin: 1rem 0;
    }
    p {
      font-size: 18px;
      padding-bottom: 2rem;
    }
    h6 {
      line-height: 1.2;
      font-size: 12px;
      margin-bottom: 1.5rem;
    }
  }

  a {
    display: block;
    // width: 20%;
    .product_bg {
      width: 228px;
      height: 204px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: rgba($color: #000, $alpha: 0.4);
        object-fit: scale-down;
      }
    }
  }
}

@media (max-width: 1024px) {
  .product_info {
    padding: 0rem 3rem 3rem 3rem;
  }
}
@media (max-width: 970px) {
  .breadcrumb {
    padding-left: 2rem;
  }
  .product_info {
    padding: 0rem 1rem 3rem 2rem;
    .info_content {
      padding-left: 0;
    }
  }
}
@media (max-width: 870px) {
  .breadcrumb {
    padding-left: 2rem;
  }
  .product_info {
    padding: 0rem 9rem 3rem 9rem;
    flex-direction: column;
    .info_img {
      margin-right: 0rem;
      margin-bottom: 2rem;
      .main_img {
        width: auto;
        height: auto;
        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
      .sub_img {
        .sub_img_a {
          cursor: pointer;
        }
        .img1,
        .img2,
        .img3 {
          img {
            width: 100%;
            object-position: center;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }
    }
    .info_content {
      padding-left: 0;
      .bsbtn {
        margin-bottom: 2rem;
        .add_to_cart {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .breadcrumb {
    padding-left: 1rem;
  }
  .product_info {
    padding: 0rem 1rem 3rem 1rem;
    flex-direction: column;
    .info_img {
      margin-right: 0rem;
      margin-bottom: 2rem;
      .main_img {
        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
      .sub_img {
        .sub_img_a {
          cursor: pointer;
          &:nth-child(2) {
            margin: 0 0.35rem;
          }
        }
        .img1,
        .img2,
        .img3 {
          img {
            width: 100%;
            object-position: center;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }
    }
    .info_content {
      padding-left: 0;
      .bsbtn {
        margin-bottom: 2rem;
        .add_to_cart {
          width: 100%;
        }
      }
      .quantity {
        h3 {
          font-size: 20px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
}
