body {
  font-family: "Roboto", sans-serif;
}

.session_title {
  max-width: 100%;
}
.session_title h1 {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 0;
  font-size: 3rem;
  color: #f6f6f6;
  font-weight: bold;
  position: relative;
}
.session_title h1:before, .session_title h1:after {
  position: absolute;
  content: "";
  top: 50%;
  width: 200px;
  height: 2px;
  background-color: #f6f6f6;
  border-radius: 8px;
  transform: translateY(-50%);
}
.session_title h1:before {
  left: -220px;
}
.session_title h1:after {
  right: -220px;
}

.session {
  max-width: 100%;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.month_choose {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  position: sticky;
  top: 72px;
  z-index: 10;
  background: rgba(198, 189, 172, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border-radius: 8px;
}
.month_choose .months {
  color: #1e1e1e;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-right: 1.5rem;
}
.month_choose .months:last-child {
  margin-right: 0;
}
.month_choose .months option {
  color: #1e1e1e;
  font-weight: 600;
}
.month_choose .month {
  padding: 0.9rem 1rem 0.9rem 1rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 700;
  cursor: pointer;
}
.month_choose h1 {
  color: #1e1e1e;
  font-size: 36px;
  font-weight: bold;
}
.month_choose .days_ul {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.month_choose .days_ul li {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.month_choose .days_ul li:first-child {
  margin-left: 0;
}
.month_choose .days_ul li p {
  color: #1e1e1e;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 500;
}
.month_choose .days_ul li button {
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.month_choose .days_ul li .changebgc {
  background-color: #ffdd00;
}
.month_choose .date_left_arrow i,
.month_choose .date_right_arrow i {
  cursor: pointer;
}

.session_list {
  width: 80%;
  margin: 0 auto;
}
.session_list .session_content li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  border-radius: 8px;
}
.session_list .session_content p {
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-right: 1rem;
}
.session_list .session_content p::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  top: 0;
  right: -11px;
  bottom: 0;
  margin: auto;
  background-color: rgba(30, 30, 30, 0.5);
}
.session_list .session_content p:nth-last-child(1)::after {
  display: none;
}
.session_list .session_content i {
  margin-right: 0.15rem;
}
.session_list .session_content .title_info {
  padding: 0.25rem 0;
}
.session_list .session_content img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.session_list .session_content .session_name {
  display: flex;
  align-items: center;
}
.session_list .session_content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.session_list .session_content a {
  display: block;
  color: #1e1e1e;
  padding: 0.75rem 1rem;
  margin-right: 1rem;
  background-color: #1e1e1e;
  color: #f6f6f6;
  border-radius: 8px;
  animation: add_session 1s ease infinite;
}

@keyframes add_session {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: #ffdd00;
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1100px) {
  .session .month_choose {
    width: 90%;
  }
}
@media screen and (max-width: 980px) {
  .session .month_choose {
    width: 95%;
  }
  .session .session_list {
    width: 80%;
  }
  .session .session_list .session_content h2 {
    font-size: 24px;
  }
  .session .session_list .session_content a {
    font-size: 18px;
    padding: 0.5rem 0.75rem;
  }
}
@media screen and (max-width: 930px) {
  .session .month_choose {
    width: 95%;
  }
  .session .month_choose .months {
    margin-right: 1rem;
  }
  .session .month_choose .days_ul li:first-child {
    display: none;
  }
  .session .month_choose .days_ul li:last-child {
    display: none;
  }
  .session .session_list {
    width: 80%;
  }
  .session .session_list .session_content h2 {
    font-size: 24px;
  }
  .session .session_list .session_content a {
    font-size: 18px;
    padding: 0.5rem 0.75rem;
  }
}
@media screen and (max-width: 910px) {
  .session .month_choose {
    width: 100%;
  }
  .session .month_choose .month {
    text-align: center;
  }
  .session .session_list {
    width: 80%;
  }
  .session .session_list .session_content h2 {
    font-size: 20px;
  }
  .session .session_list .session_content p {
    font-size: 14px;
  }
  .session .session_list .session_content a {
    font-size: 18px;
    padding: 0.5rem 0.75rem;
  }
}
@media screen and (max-width: 820px) {
  .session_title h1 {
    font-size: 2rem;
  }
  .session .month_choose .months {
    margin-right: 0rem;
  }
  .session .month_choose .months .month {
    text-align: center;
  }
  .session .session_list {
    width: 75%;
  }
  .session .session_list .session_content h2 {
    font-size: 20px;
  }
  .session .session_list .session_content p {
    font-size: 14px;
  }
  .session .session_list .session_content a {
    text-align: center;
    font-size: 20px;
    padding: 0.5rem 0.75rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 810px) {
  .session_title h1 {
    font-size: 2rem;
  }
  .session .month_choose .months {
    margin-right: 0rem;
  }
  .session .month_choose .months .month {
    text-align: center;
    padding: 0.7rem 0.35rem;
  }
  .session .month_choose .days_ul li button {
    padding: 0.25rem 0.75rem;
  }
  .session .session_list {
    width: 75%;
  }
  .session .session_list .session_content h2 {
    font-size: 20px;
  }
  .session .session_list .session_content p {
    font-size: 14px;
  }
  .session .session_list .session_content a {
    text-align: center;
    font-size: 20px;
    padding: 0.5rem 0.75rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  .session_title h1 {
    font-size: 1.5rem;
  }
  .session_title h1:before, .session_title h1:after {
    width: 150px;
  }
  .session_title h1:before {
    left: -170px;
  }
  .session_title h1:after {
    right: -170px;
  }
}
@media screen and (max-width: 430px) {
  .session_title h1 {
    font-size: 1.25rem;
  }
  .session_title h1:before, .session_title h1:after {
    width: 80px;
  }
  .session_title h1:before {
    left: -100px;
  }
  .session_title h1:after {
    right: -100px;
  }
  .session .month_choose .months .month {
    text-align: center;
    padding: 0.5rem 0;
  }
  .session .month_choose .days_ul li {
    margin: 0 0.125rem;
  }
  .session .month_choose .days_ul li:first-child {
    display: none;
  }
  .session .month_choose .days_ul li:last-child {
    display: none;
  }
  .session .month_choose .days_ul li button {
    padding: 0.3rem;
  }
  .session .month_choose .days_ul p {
    line-height: 1;
    font-size: 12px;
  }
  .session .session_list {
    width: 95%;
    overflow-x: hidden;
  }
  .session .session_list .session_content li {
    margin-bottom: 1.5rem;
  }
  .session .session_list .session_content h2 {
    font-size: 16px;
    margin-bottom: 0.25rem;
  }
  .session .session_list .session_content p {
    font-size: 12px;
  }
  .session .session_list .session_content a {
    text-align: center;
    font-size: 14px;
    padding: 0.5rem 0.75rem;
    margin-right: 0;
  }
  .session .session_list .session_content img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=session.css.map */