body {
  font-family: "Roboto", sans-serif;
}

.product_title {
  max-width: 100%;
}
.product_title h1 {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 0;
  font-size: 40px;
  color: #f6f6f6;
  font-weight: bold;
  position: relative;
}
.product_title h1:before, .product_title h1:after {
  position: absolute;
  content: "";
  top: 50%;
  width: 200px;
  height: 2px;
  background-color: #f6f6f6;
  border-radius: 8px;
  transform: translateY(-50%);
}
.product_title h1:before {
  left: -220px;
}
.product_title h1:after {
  right: -220px;
}

.session {
  max-width: 100%;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
.session .month {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.session .month .month_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c6bdac;
  border-radius: 4px;
  padding: 0.75rem;
  width: 346px;
}
.session .month h1 {
  color: #1e1e1e;
  font-size: 36px;
  font-weight: bold;
}
.session .month .days_ul {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: auto;
}
.session .month li {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.session .month li p {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
}
.session .month li button {
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 8px;
}
.session .month li .changebgc {
  background-color: #c6bdac;
}

.session_list {
  width: 80%;
  margin: 0 auto;
}
.session_list .session_content {
  flex: auto;
  height: 690px;
  overflow: scroll;
}
.session_list .session_content li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 0.5rem;
  border-radius: 8px;
}
.session_list .session_content p {
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-right: 1rem;
}
.session_list .session_content p::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  top: 0;
  right: -11px;
  bottom: 0;
  margin: auto;
  background-color: rgba(30, 30, 30, 0.5);
}
.session_list .session_content p:nth-last-child(1)::after {
  display: none;
}
.session_list .session_content i {
  margin-right: 0.15rem;
}
.session_list .session_content .title_info {
  padding: 0.25rem 0;
}
.session_list .session_content img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.session_list .session_content .session_name {
  display: flex;
  align-items: center;
}
.session_list .session_content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.session_list .session_content a {
  display: block;
  color: #1e1e1e;
  padding: 0.75rem 1rem;
  margin-right: 1rem;
  background-color: #1e1e1e;
  color: #f6f6f6;
  border-radius: 8px;
}/*# sourceMappingURL=session.css.map */