$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$yello: #ffdd00;
$sidebar_bgc: #c6bdac;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
body {
  font-family: "Roboto", sans-serif;
}
//---------------- session_title --------------
.product_title {
  max-width: 100%;
  //   border: 1px solid red;
  h1 {
    margin: 0 auto;
    // border: 1px solid red;
    width: fit-content;
    padding: 2rem 0;
    font-size: 40px;
    color: $font_color;
    font-weight: bold;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 50%;
      width: 200px;
      height: 2px;
      background-color: $font_color;
      @include border-radius(8px);
      transform: translateY(-50%);
    }
    &:before {
      left: -220px;
    }
    &:after {
      right: -220px;
    }
  }
}

//---------------- month_area --------------
.session {
  max-width: 100%;
  // border: 1px solid red;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
.month_choose {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  position: sticky;
  top: 72px;
  z-index: 10;
  background: rgba(198, 189, 172, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  // background-color: rgba($color: $sidebar_bgc, $alpha: 1);
  // box-shadow: 0px 5px 10px 5px;
  @include border-radius(8px);
  // border: 1px solid red;
  .months {
    display: flex;
    align-items: center;
    @include border-radius(8px);
    margin-right: 1.5rem;
    // border: 1px solid red;
    // position: relative;
    &:last-child {
      margin-right: 0;
    }
    option {
      font-weight: 600;
    }
    // i {
    //   position: absolute;
    //   right: 25px;
    //   cursor: pointer;
    // }
  }

  .month {
    padding: 0.9rem 1rem 0.9rem 1rem;
    border: none;
    outline: none;
    text-align: center;
    @include border-radius(8px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 700;
    cursor: pointer;
  }

  h1 {
    color: $bgc_1e;
    font-size: 36px;
    font-weight: bold;
  }
  .days_ul {
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex: auto;
    // border: 1px solid blue;
    li {
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:first-child {
        margin-left: 0;
      }
      //   border: 1px solid red;
      p {
        line-height: 1.2;
        font-size: 16px;
        font-weight: 500;
      }
      button {
        border: none;
        background-color: $font_color;
        cursor: pointer;
        padding: 0.5rem 1rem;
        @include border-radius(8px);
      }
      .changebgc {
        background-color: $yello;
      }
    }
  }
  .date_left_arrow,
  .date_right_arrow {
    i {
      cursor: pointer;
    }
  }
}

//----------------session_list_area --------------
.session_list {
  width: 80%;
  // border: 1px solid red;
  margin: 0 auto;
  .session_content {
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $font_color;
      padding: 0.5rem;
      margin-bottom: 2.5rem;
      @include border-radius(8px);
      // border: 1px solid red;
    }

    p {
      display: inline-block;
      // border: 1px solid red;
      font-size: 16px;
      position: relative;
      margin-right: 1rem;
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 10px;
        top: 0;
        right: -11px;
        bottom: 0;
        margin: auto;
        background-color: rgba($color: $bgc_1e, $alpha: 0.5);
      }
      &:nth-last-child(1)::after {
        display: none;
      }
    }
    i {
      margin-right: 0.15rem;
    }
    .title_info {
      // border: 1px solid green;
      padding: 0.25rem 0;
    }
    img {
      width: 100px;
      height: 100px;
      margin-right: 1rem;
      object-fit: cover;
      @include border-radius(8px);
    }
    .session_name {
      // width: 520px;
      display: flex;
      align-items: center;
    }
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    a {
      display: block;
      color: $bgc_1e;
      // border: 1px solid red;
      padding: 0.75rem 1rem;
      margin-right: 1rem;
      background-color: $bgc_1e;
      color: $font_color;
      @include border-radius(8px);
      animation: add_session 1s ease infinite;
    }
  }
}

@keyframes add_session {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: $yello;
  }
  100% {
    transform: scale(1);
  }
}
