* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  // font-family: "Roboto Serif", serif;
}
@import url(./reset.css);
@import url(./navBar.css);
@import url(./footer.css);
@import url(./about.css);
@import url(./login.css);
@import url(./register.css);
@import url(./product.css);
@import url(./product_info.css);
@import url(./carts.css);
@import url(./fitness_blog.css);
@import url(./blog_page.css);
@import url(./trainer.css);
@import url(./session.css);
@import url(./my_session.css);
@import url(./contact_us.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font_color: #f6f6f6;
$bgc_1e: #1e1e1e;
$sidebar_bgc: #c6bdac;
$yello: #ffdd00;
$font_size12: 12px;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body {
  background-color: $bgc_1e;
  font-family: "Roboto", sans-serif;
}

//-------------section1----------------//
.section1_bg {
  max-width: 100%;
  background-image: url(../fitness_environment_img/homePage_first.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  font-family: "Roboto", sans-serif;
  .section1_img_filter {
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;
    h1 {
      font-size: 40px;
      text-align: center;
      font-weight: 600;
      color: $font_color;
      margin: 7rem 0 2rem 0;
      letter-spacing: 2px;
      line-height: 1.6;
    }
    .trainNow_btn {
      margin-top: 1.2rem;
      width: 190px;
      margin-bottom: 120px;
      height: 50px;
      a {
        background-color: #151515;
        text-align: center;
        @include border-radius(8px);
        display: block;
        line-height: 50px;
        color: $font_color;
        font-size: 24px;
        letter-spacing: 4px;
        border: 1px solid $font_color;
        font-weight: 500;
        animation: home_page_button 1s ease infinite;
      }
    }
  }
}

//--------------columnSection_area---------------//
.column_section_area {
  // outline: 1px solid red;
  max-width: 100%;
  // margin-bottom: 3rem;
}
.column_sections {
  // outline: 1px solid blue;
  display: flex;
  width: 100%;
  top: -140px;
  position: relative;
  padding: 4rem 8rem;
  li {
    border: 1px solid $font_color;
    margin: 0 1rem;
    @include border-radius(8px);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      @include border-radius(8px);
      background-color: rgba($color: #000, $alpha: 0.7);
      z-index: 10;
    }
  }
  .trainer_column_img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .trainer_column_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #c6bdac;
    @include border-radius(8px);
    z-index: 10;
  }
  h3 {
    position: absolute;
    color: $font_color;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  img {
    width: 100%;
    display: block;
    @include border-radius(8px);
    z-index: -1;
    // border: 1px solid red;
  }
  a {
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 1rem 0 0.5rem 0;
    font-weight: bold;
    color: $bgc_1e;
    text-decoration: underline;
    &:hover {
      color: $yello;
    }
  }
  p {
    font-size: 1.2vw;
    // padding: 1rem;
    letter-spacing: 1px;
    line-height: 1.7;
    padding: 0.5rem;
    // border: 1px solid red;
  }
  & > h3,
  p {
    color: $bgc_1e;
  }
}
li:hover {
  .trainer_column_content {
    opacity: 1;
  }
}
li:nth-child(2) {
  margin: 0rem;
}

//--------------ftandm---------------//
.ftandm {
  // border: 1px solid red;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 10rem;
  // a {
  //   display: flex;
  // }

  .firstTime_bg {
    width: 500px;
    height: 500px;
    background-image: url(../fitness_environment_img/First_Time_bg_img.jpg);
    background-size: cover;
    // background-position: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 1;
    cursor: pointer;
    transition: 1s;
  }
  .firstTime_filter {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .firstTime_bg:hover {
    flex: 2;

    .firstTime_filter {
      background-color: rgba($color: #000, $alpha: 0.6);
    }
    p {
      visibility: visible;
    }
  }

  .member_bg {
    width: 500px;
    height: 500px;
    background-image: url(../fitness_environment_img/Member_bg_img.jpg);
    background-position: center;
    background-size: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1;
    cursor: pointer;
    transition: 1s;
  }
  .member_bg:hover {
    flex: 2;
    .member_filter {
      background-color: rgba($color: #000, $alpha: 0.6);
    }
    p {
      visibility: visible;
    }
  }

  .member_filter {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .firstTime_filter,
  .member_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($color: #000, $alpha: 0.8);
    h1 {
      font-size: 36px;
      margin-bottom: 1.2rem;
      padding-top: 10rem;
    }
    p {
      visibility: hidden;
      font-size: 12px;
      margin-bottom: 10rem;
    }
    h1,
    p {
      color: $font_color;
    }
  }
}

//--------------fslogan---------------//
.fslogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 12rem 0;
  h1 {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    color: #ffdd00;
    margin-bottom: 2rem;
  }
  p {
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: $font_color;
    margin: 0 11rem;
  }
}

//--------------sharrpost1---------------//
.sharepost1 {
  max-width: 100%;
  // border: 1px solid red;
  margin-bottom: 200px;
  display: flex;
  justify-content: end;
  .post_1_img {
    width: 850px;
    height: 550px;
    @include border-radius(8px);
    background-color: rgba($color: #000, $alpha: 0.4);
  }
}
.postArea1 {
  position: relative;
  top: 25px;
  right: -100px;
  height: fit-content;
  border-radius: 8px;
  // border: 1px solid red;
  width: 290px;
  background-color: #f6f6f6;

  .postArea1_img {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    img {
      width: 95%;
      height: 95%;
      object-fit: fill;
      display: block;
      @include border-radius(8px);
    }
  }
  .contents {
    color: #151515;
    margin: 0.5rem;
    h1 {
      font-size: 40px;
      margin-bottom: 0.5rem;
    }
    span {
      display: block;
      margin-bottom: 1rem;
      font-size: 12px;
    }
    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

//-------------- sharrpost2 ---------------
.sharepost2 {
  max-width: 100%;
  // border: 1px solid red;
  margin-bottom: 200px;
  display: flex;
  justify-content: start;
  .post_2_img {
    width: 850px;
    height: 550px;
    @include border-radius(8px);
    background-color: rgba($color: #000, $alpha: 0.4);
  }
}
.postArea2 {
  position: relative;
  top: 25px;
  left: -100px;
  height: fit-content;
  border-radius: 8px;
  // border: 1px solid red;
  width: 290px;
  background-color: #f6f6f6;

  .postArea2_img {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 260px;
    img {
      width: 95%;
      height: 95%;
      object-fit: cover;
      display: block;
      @include border-radius(8px);
    }
  }
  .contents {
    color: #151515;
    margin: 0.5rem;
    h1 {
      font-size: 40px;
      margin-bottom: 0.5rem;
    }
    span {
      display: block;
      margin-bottom: 1rem;
      font-size: 12px;
    }
    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

//--------------member_number---------------//
.member_number {
  width: 80%;
  @include border-radius(8px);
  margin: 0 auto;
  margin-bottom: 10rem;
  ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    // @include border-radius(8px);
    // border: 0.5px dashed $yello;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $yello;
    text-align: center;
    h3 {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 0.5rem;
      // border: 1px solid red;
      animation: h3_rotate 0.9s ease infinite;
    }
    p {
      font-size: 14px;
    }
  }
}

//--------------fpageSlogan2---------------//
.slogan2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8rem 2rem;
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #ffdd00;
    margin-bottom: 2rem;
  }
  p {
    text-align: center;
    font-size: 24px;
    line-height: 1.8;
    color: $font_color;
    margin: 0 11rem;
  }
}

//--------------topSaleArea---------------//
.top_sale_area {
  max-width: 100%;
  display: flex;
  margin-bottom: 8rem;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 40px;
    color: $font_color;
    margin: 0rem 3rem 1rem 3rem;
  }
  .products {
    // border: 1px solid red;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
    li {
      background-color: $font_color;
      margin: 1rem;
      @include border-radius(8px);
      // border: 1px solid blue;
    }
    h4,
    p,
    h6 {
      color: $bgc_1e;
      padding-left: 0.5rem;
    }
    h4 {
      font-size: 28px;
      font-weight: 600;
      margin: 1rem 0;
    }
    p {
      font-size: 18px;
      padding-bottom: 1rem;
    }
    h6 {
      line-height: 1.2;
      font-size: 12px;
      margin-bottom: 1rem;
    }
  }

  a {
    display: block;
    // width: 20%;
    .product_bg {
      width: 228px;
      height: 204px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: rgba($color: #000, $alpha: 0.4);
      }
    }
  }
}

//--------------totopIocn---------------

.totop {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  a {
    display: block;
    .fa-solid {
      // border: 1px solid red;
      font-size: 60px;
      color: #ffdd00;
      animation: fa-solid 1s ease infinite;
    }
  }
}
// @media screen and (max-width: 1180px) {
//   .columnSections {
//     li {
//       margin: 0 2rem;
//     }
//   }
// }

@keyframes footer_register {
  0% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
    background-color: $yello;
    color: $bgc_1e;
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes fa-solid {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes home_page_button {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
    border: 1px solid $yello;
    color: $yello;
    box-shadow: 0px 0px 10px 5px $yello;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes h3_rotate {
  0% {
    // transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(90deg);
  }

  50% {
    // transform: rotateX(180deg);
  }
  75% {
    // transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.hide {
  opacity: 0;
  transition: 1s ease;
}
.slide-right {
  overflow-x: hidden;
  opacity: 0;
  transform: translateX(50px);
  transition: 1s ease;
}

.slide-left {
  overflow-x: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s ease;
}
.slide-up {
  opacity: 0;
  transform: translateY(200px);
  transition: 1s ease;
}
.slide-down {
  opacity: 0;
  transform: translateY(-100%);
  transition: 1s ease;
}
.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1250px) {
  .column_sections {
    padding: 4rem 8rem;
    top: -120px;
    li {
      margin: 0 1.75rem;
    }
    li:nth-child(2) {
      margin: 0rem;
    }
    h3 {
      font-size: 32px;
    }
  }
  .trainer_column_content {
    p {
      font-size: 14px;
      line-height: 1.4;
    }
    a {
      font-size: 24px;
    }
  }
}
@media (max-width: 1100px) {
  .column_sections {
    padding: 2rem 3rem;
    top: -100px;
  }
  .column_sections {
    li {
      margin: 0 1.5rem;
    }
    li:nth-child(2) {
      margin: 0rem;
    }
    h3 {
      font-size: 32px;
    }
  }
  .sharepost1 {
    .post_1_img {
      width: 740px;
      height: 470px;
    }
  }
  .sharepost2 {
    .post_2_img {
      width: 740px;
      height: 470px;
    }
  }
  .trainer_column_content {
    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
@media (max-width: 1000px) {
  .column_section_area {
    margin-bottom: 2rem;
  }
  .column_sections {
    padding: 1rem 4rem;
    top: -80px;
  }

  .column_sections {
    li {
      margin: 0 1.25rem;
    }
    li:nth-child(2) {
      margin: 0rem;
    }
    h3 {
      font-size: 24px;
    }
  }
  .sharepost1 {
    .post_1_img {
      width: 650px;
      height: 530px;
    }
    .postArea1 {
      width: 330px;
    }
  }
  .sharepost2 {
    .post_2_img {
      width: 650px;
      height: 500px;
    }
    .postArea2 {
      width: 330px;
    }
  }
  .trainer_column_content {
    a {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      line-height: 1.3;
    }
  }
  .member_number {
    margin-bottom: 8rem;
  }
  .fslogan {
    margin: 9rem 0;
    p {
      margin: 0 5rem;
    }
  }
  .ftandm {
    width: 800px;
  }
  .slogan2 {
    p {
      margin: 0 4rem;
    }
  }
  .top_sale_area {
    margin-bottom: 4rem;
    .products {
      li {
        margin: 0.5rem;
      }
      a {
        .product_bg {
          width: 212px;
          height: 184px;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  .section1_bg {
    .section1_img_filter {
      h1 {
        font-size: 32px;
      }
    }
  }
  .column_sections {
    // border: 1px solid red;
    padding: 0.5rem;
    top: -80px;
  }
  .column_sections {
    li {
      margin: 0 1rem;
    }
    li:nth-child(2) {
      margin: 0rem;
    }
    h3 {
      font-size: 24px;
    }
  }
  .trainer_column_content {
    a {
      font-size: 20px;
    }
    p {
      font-size: 14px;
      line-height: 1.3;
    }
  }
  .fslogan {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
  }
  .sharepost1 {
    .post_1_img {
      width: 550px;
      height: 480px;
    }
    .postArea1 {
      top: 25px;
      .postArea1_img {
        height: 200px;
      }
    }
  }
  .sharepost2 {
    .post_2_img {
      width: 550px;
      height: 480px;
    }
    .postArea2 {
      top: 25px;
      .postArea2_img {
        height: 200px;
      }
    }
  }
  .slogan2 {
    margin: 5rem 2rem;

    h1 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
  }
}
@media (max-width: 768px) {
  .column_sections {
    padding: 0.25rem 1rem;
    top: -60px;
  }
  .column_sections {
    li {
      margin: 0 1rem;
    }
    li:nth-child(2) {
      margin: 0rem;
    }
    h3 {
      font-size: 18px;
    }
  }
  .trainer_column_content {
    a {
      padding: 0.5rem 0 0 0;
      font-size: 18px;
    }
    p {
      font-size: 12px;
      line-height: 1.6;
      padding: 0.25rem;
    }
  }
}
@media (max-width: 430px) {
  .section1_bg {
    .section1_img_filter {
      padding-bottom: 3rem;
      h1 {
        font-size: 32px;
        margin-bottom: 5rem;
      }
    }
  }
  .column_sections {
    top: 0px;
    .trainer_column_content {
    }
  }
  .column_sections {
    // border: 1px solid blue;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    .trainer_column_img {
      display: flex;
      justify-content: center;
      padding: 1rem 0;
      img {
        border: 4px solid $font_color;
        width: 90%;
      }
    }
    li {
      margin: 1.5rem 0;
      border: 1.5px solid $yello;
      // animation: scale 2s infinite alternate;
      width: 90%;
    }

    li:hover .trainer_column_content {
      opacity: 1;
    }

    h3 {
      font-size: 32px;
    }
  }

  .column_sections .trainer_column_content {
    background: rgba(198, 189, 172, 0.79);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    a {
      padding-top: 1.25rem;
      font-size: 32px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      line-height: 1.6;
      padding: 1rem;
    }
  }
  .member_number {
    width: 95%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    ul {
      padding: 0;
      li {
        padding: 0;
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .fslogan {
    margin: 7rem 0;
    h1 {
      font-size: 32px;
      margin-bottom: 1rem;
    }
    p {
      margin: 0 1rem;
    }
  }
  .ftandm {
    width: 380px;
    flex-direction: column;
    .firstTime_bg {
      width: 380px;
      margin-bottom: 2rem;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      h1 {
        font-size: 28px;
        padding-top: 5rem;
      }
      p {
        margin-bottom: 5rem;
      }
    }
    .firstTime_filter {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .member_bg {
      width: 380px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      h1 {
        padding-top: 5rem;
        font-size: 28px;
      }
      p {
        margin-bottom: 5rem;
      }
    }
    .member_filter {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
  .sharepost1 {
    margin-bottom: 7rem;
    .post_1_img {
      position: relative;
      top: 130px;
      left: -10px;
      width: 210px;
      height: 210px;
      z-index: -1;
    }
    .postArea1 {
      top: -25px;
      right: -10px;
      .contents {
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
          line-height: 1.2;
        }
      }
      .postArea1_img {
        height: 150px;
      }
    }
  }
  .sharepost2 {
    margin-bottom: 7rem;
    .post_2_img {
      position: relative;
      top: 120px;
      right: -10px;
      width: 210px;
      height: 210px;
    }
    .postArea2 {
      top: -25px;
      left: -10px;
      .contents {
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
          line-height: 1.2;
        }
      }
      .postArea2_img {
        height: 150px;
      }
    }
  }
  .slogan2 {
    margin: 5rem 0;
    h1 {
      font-size: 32px;
    }
    p {
      margin: 0 1rem;
    }
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
